header {
    text-align: center;
    font-size: 30px;
    color: #ff0000a2;
  }
  
  main, html {
    margin: 0;
    padding: 0;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2e06e1;
  }

  .text {
    text-align: center;
    color: rgba(4, 4, 4, 0.964);
    font-size: 12px;
  }
  
  .container {
    text-align: center;
    color: #17d7e1;
  }
  
  .button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 24px;
    border: none;
    background-color: #5cf106;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .button:hover {
    background-color: #2980b9;
  }